{
  "extends": ["react-app", "react-app/jest", "plugin:cypress/recommended"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }]
  }
}
