{
  "extends": ["react-app", "react-app/jest", "plugin:cypress/recommended"],
  "rules": {
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "semi": ["error", "always"]
  }
}
